<header id="mHeader">
    <div class="container container-l">
        <div id="logo">MPU Team</div>
        <div class="container" id="mHeadContainer">
            <div class="mHeadElems"><a href="#main">Главная</a></div>
            <div class="mHeadElems"><a href="#projects">Проекты</a></div>
            <div class="mHeadElems"><a href="#about">О нас</a></div>
            <div class="mHeadElems"><a href="#team">Команда</a></div>
            <div class="mHeadElems"><a href="#contact">Контакты</a></div>
            <div class="mHeadElems"><a [routerLink] = "'/admin'">Админ</a></div>
        </div>
    </div>
</header>
