<app-header></app-header>
<div id="main" class="">
  <div class="container" style="flex-direction: column; flex-wrap: wrap; height: 100%;">
      <img id="poster" src="imgs/MPU_team.jpg">
      <div id="mainContainer" class="container container-l">
          <div class="container" style="position: relative; align-items:  center; justify-items: center;">
              <h1 style="font-size: 10rem;" id="welcome">MPU Team</h1>
          </div>
      </div>
  </div>
</div>
<div id="projects" class="section">

  <div id="projContainer" class="container container-l" style="flex-direction: column;">
      <h1>Наши проекты</h1>
  </div>
  <div class="splide" id="projectsSplide">
      <div class="splide__track">
          <div class="splide__list" id="projectSlider">
          </div>
      </div>
  </div>
</div>
<div id="about" class="section">
  <div class="skewBackground">
      <div class="skewGray skewElem"></div>
      <div class="skewDarkGray skewElem"></div>
  </div>
  <div class="container container-l">
      <h1>О нас</h1>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sunt quaerat nemo? Deserunt, quasi. Iure,
      corrupti. Consequuntur dolorem iure atque veritatis quidem, eius excepturi? Ipsa, pariatur? Ea sint officiis
      assumenda!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sunt quaerat nemo? Deserunt, quasi. Iure,
      corrupti. Consequuntur dolorem iure atque veritatis quidem, eius excepturi? Ipsa, pariatur? Ea sint officiis
      assumenda!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus sunt quaerat nemo? Deserunt, quasi. Iure,
      corrupti. Consequuntur dolorem iure atque veritatis quidem, eius excepturi? Ipsa, pariatur? Ea sint officiis
      assumenda!
  </div>
</div>
<div id="team" class="section">
  <!-- <div class="skewBackground">
      <div class="skewGray skewElem"></div>
      <div class="skewDarkGray skewElem"></div>
  </div> -->
  <div class="container container-l" style="flex-direction: column;">
      <h1>Наша команда</h1>    
  </div>
  <div class="splide" id="usersSplide">
      <div class="splide__track">
          <div class="splide__list" id="usersSlider">
          </div>
      </div>
  </div>
</div>
<div id="contact" class="section">
  <div class="container container-l">
      <h1>Контакты</h1>
      <div class="links">
          <p>Телефон: +7 (123)456-78-90
              Почта: example@mail.ru</p>
          <div class="container" style="gap:10px">
              <a href="" class="linkButContainer">
                  <img src="imgs/vk.png" alt="" class="linkBut">
                  <div class="linkButHoverImg"></div>
              </a>
              <a href="" class="linkButContainer">
                  <img src="imgs/youtube.png" alt="" class="linkBut">
                  <div class="linkButHoverImg"></div>
              </a>
              <a href="" class="linkButContainer">
                  <img src="imgs/instagram.jpg" alt="" class="linkBut">
                  <div class="linkButHoverImg"></div>
              </a>
          </div>
      </div>
  </div>
</div>
<div id="mFoot" class="">
  <div class="container container-l" style="align-items: center; height: 100%;">
      ©2021 MPU Team
  </div>
</div>